/*Global Layout Set-up */

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	/*line-height: 1.5;*/
	margin: 0;
}

* {
	box-sizing: border-box;
}

/**** SEARCH BOX ****/

.search {
	text-align: center;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container{
 	margin-top: 75px;
 }

input:hover {
	background-color: #f4f4f4;
}

input[type="text"] {
	width: 350px;
	height: 50px;
	padding-left: 10px;
	font-size: 16px;
	border: 2px solid #E5E5E5;	
	border-radius: 5px;
}

 input:focus {
 	outline: 0;
 }

/*** GALLERY ***/

#gallery {
	padding: 0;
}

ul li img {
	display: block;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	text-align: center;
}

ul li {
	display: inline-block;
	padding: 10px;
}

/*** OVERLAY ***/

#overlay {
	z-index: 1000;
	background: rgba(0,0,0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img,
#player {
	margin-top: 40%;
	height: 300px;
	width: 300px;
}

#overlay p {
	color: white;
	text-align: center;
	width: 60%;
	margin: 0 auto;
}


/*** ARROWS and EXIT BUTTONS ***/

#leftArrow, #rightArrow {
	font-size: 20px;
	color: white;
	cursor: pointer;
	position: relative;
	background-color: rgba(0,0,0, 0.0);
	border: none;
}

#leftArrow {
	top: -225px;
	left: -185px;	
}

#rightArrow {
	top: -225px;
	right: -160px;
}

#exit {
	color: white;
	font-size: 15px;
	cursor: pointer;
	background-color: rgba(0,0,0, 0.0);
	border: none;
	position: relative;
	left: 184px;
	top: -400px;
}

#leftArrow:focus,
#rightArrow:focus {
	outline: 0;
}









